/* Universal Styles */

/* Dev visuals to be commented out when project is complete */
.site_container,.header_stripe, .header, .main_banner, .banner_box {
  border: solid blue 1px;
}
/* End of dev comment*/

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

body {
  background-color: black;
}

.site_container {
    display: flex;
    background-color: white;
}


/* Header */
.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.header_stripe {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

#logo img {
  height: 1.5rem;
}

#name span {
  margin: .66rem 0 .66rem 1rem;
}




/* Main Banner*/

.main_banner {
  height: 25rem;
  background-image: url("./moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner_box {
  width: 25rem;
  height: 11rem;
  background-color: black;
  margin-left: 11rem;
  margin-top: 9rem;
}



.banner_box p, .banner_box h2 {
  color: white;
}

.banner_box p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: .25rem;
}

.banner_box h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 0;
}

/* Nav_bar */

.nav_bar {
  display: flex;
  background-color: firebrick;
  justify-content: center;
}

.nav_bar p {
  display: none;
}

.nav_bar nav {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.nav_bar nav a {
  color: white;
}

/* Bottom section */

.bottom_section {
  width: 960px;
  margin: 0 auto;
  background-color: gray;
}

  /*Products*/

  .product_box {
    width: 30%;
    height: 300px;
    border: solid black 4px;
  }

  .product_box img {
    height: 9rem;
    width: 9rem;
    margin: 2rem 2rem;
  }



  /*Location*/

/*Footer*/

/*media rules!*/
