/* Universal Styles */

.site_container, .header {
  border: solid blue 1px;
}

html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  background-color: black;
}

.site_container {

  background-color: white;
}


/* Header */
.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.header_stripe {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

#logo img {
  height: 1.5rem;
}

#name span {
  margin: .66rem 0 .66rem 1rem;
}




/* Main Banner*/

/* Nav_bar */

/*Products*/

/*Location*/

/*Footer*/

/*media rules!*/
