/* Universal Styles */

/* Dev visuals to be commented out when project is complete */
.site_container,.header_stripe, .header, #logo, .main_banner, .banner_box, .info, .location, .hours {
  border: solid blue 1px;
}
/* End of dev comment*/

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}



.site_container {
    display: flex;
    background-color: white;
    width: 960px
}


/* Header */
.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.header_stripe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}

#logo img {
  height: 1.5rem;
  margin: 0 auto;
}

#name span {
  font-size: 1rem;
  margin: .66rem 0 .66rem 1rem;
}




/* Main Banner*/

.main_banner {
  height: 25rem;
  background-image: url("./moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner_box {
  width: 25rem;
  height: 11rem;
  background-color: black;
  margin-left: 11rem;
  margin-top: 9rem;
}



.banner_box p, .banner_box h2 {
  color: white;
}

.banner_box p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: .25rem;
}

.banner_box h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 0;
}

/* Nav_bar */

.nav_bar {
  display: flex;
  background-color: firebrick;
  justify-content: center;
}

.nav_bar p {
  display: none;
}

.nav_bar nav {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.nav_bar nav a {
  color: white;
}

/* Bottom section */

.bottom_section {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

  /*Products*/

  .products {
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .container {
    height: 302px;
    width: 300px;
    border: solid black .225rem;
    }

  .container .image_box {
    background-color: white;
  }

  img {
    height: 200px;
    width: 200px;
    margin: 25px 50px;
  }

  .span_box span {
    color: white;
    font-size: 32px;
  }

  .span_box {
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: black;
  }



  /*Location*/

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .location, .hours {
    display: flex;
    flex-direction: column;
    width: 35%;

  }

  .info .alpha p {
    margin-left: 2rem;
    vertical-align: middle;
  }

  .alpha {
    height: 3rem;
    background-color: black;
  }

  .info .number p {
    margin-left: 0;
    margin-top: 0;
    margin: bottom: 0;
    color: black;
  }

/*Footer*/
.footer_container {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5rem;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 960px;
}

/*media rules!*/
